/* This is how we access a tag */
img {
  width: 200px;
  height: 200px;
}
/* This is how we access a class*/
.wrapper {
  /* We are using flex box to control the layout, you don't need to use anything this complex but feel free to copy it for your page */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px;
}
.card {
  /* This controls an element’s box model:
   - width: the element’s overall width
   - margin: space outside the border, between the element and the next one
   - border: the frame surrounding the element
   - padding: space between the border and the element’s content
*/
  max-width: 500px;
  border: solid;
  margin: 10px;
  padding: 10px;
}

#rose_card {
  background-color: aqua;
}
